<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Accessible Web Media</title>
		<meta name="description" content="Let us invigorate your website and keep clients coming back for more!" />
		<link rel="icon" href="./img/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Empower your business with cutting-edge, accessible, and responsive applications designed to thrive on any device! Unveil a portfolio of tailored solutions that elevate your digital presence without the need for an existing web footprint. Our expertise lies in crafting inclusive applications that resonate with your audience, ensuring seamless user experiences and broadening your reach. Explore our work to discover how we can transform your business with adaptable and user-friendly software solutions.">
		<!-- add bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" async>
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous" async></script>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" async rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body id="page-top">
		<div style="display: contents">
<!--         
        
            <script>
             
                let currentYear = new Date().getFullYear();
              </script> -->
                 <!-- Navigation-->
                <!-- Masthead-->
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: rgba(0, 0, 0, 0.9);">
                  <div class="container">
                      <a class="navbar-brand js-scroll-trigger" href="index.html#page-top" style="font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; color: #37fbe7;">Accessible Web Media</a>
                      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          Menu
                          <i class="fas fa-bars ml-1"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarResponsive"> -->
                          <!-- <ul class="navbar-nav text-uppercase ml-auto">
                
                            @guest
                              <li class="nav-item">
                                  <a class="nav-link" href="{{ route('login') }}">{{ __('Login') }}</a>
                              </li>
                              @if (Route::has('register'))
                                  <li class="nav-item">
                                      <a class="nav-link" href="{{ route('register') }}">{{ __('Register') }}</a>
                                  </li>
                              @endif
                          @else
                              <li class="nav-item dropdown">
                                  <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                      {{ Auth::user()->name }} <span class="caret"></span>
                                  </a>
            
                                  <div class="dropdown-menu dropdown-menu-right" style="background-color: #000000;" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{{ route('logout') }}"
                                         onclick="event.preventDefault();
                                                       document.getElementById('logout-form').submit();">
                                          {{ __('Logout') }}
                                      </a>
            
                                      <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                          @csrf
                                      </form>
                                  </div>
                              </li>
            
                              <li class="nav-item">
                                  <a class="nav-link" href="/home">Dashboard</a>
                              </li>
                              @if (Auth::user()->email=='Maecheenoi3@gmail.com')
                              <li class="nav-item">
                                  <a class="nav-link" href="/admin">Admin</a>
                              </li>
                              @endif
                             
                          @endguest
            
            
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                              <!--<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                          </ul> -->
                      <!-- </div> -->
                  </div>
              </nav>
              <header class="masthead">
              </header>
              <main class="py-4">

                <div class="container py-4">
                    <div class="row">
                      <!-- Repeat this block for each diploma -->
                      <!-- <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                        <img src="path-to-your-diploma-image.jpg" class="img-fluid diploma-img" data-toggle="modal" data-target="#diplomaModal" data-src="path-to-your-diploma-image.jpg"> -->
                      <!-- </div> -->
                      <!-- End of block -->
                    </div>
                  </div>
                  
                  <!-- Modal -->
                  <!-- <div class="modal fade" id="diplomaModal" tabindex="-1" role="dialog" aria-labelledby="diplomaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <img src="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="text-center">
                    <a href="portfolio.html"><button" class="btn btn-primary">Back to Portfolio</button></a>    
                </div>
              </main>            
              <!-- Footer-->
              <footer class="footer py-4">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div id="year" class="text-center">Copyright © Accessible Web Media </div>
                    </div>
                </div>
            </footer>        
        </div>
		<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous" async></script>
        <script>
            document.getElementById('year').textContent += new Date().getFullYear();
          </script>
          <!-- <script>
            $(document).ready(function() {
              $('.diploma-img').on('click', function() {
                var src = $(this).data('src');
                $('#diplomaModal img').attr('src', src);
              });
            });
          </script> -->
          <script>
            let diplomas = [
              { src: 'img/292508638-c6817786-e7f5-4c66-865c-4ff53d2b68d0.jpg' },
              { src: 'img/292509419-b3b2f2ca-7e3d-45da-a7d8-28d381a7b596.jpg' },
              { src: 'img/292509223-9bc4c520-15af-4a64-afd8-c44ed762d3fb.jpg' },
              { src: 'img/292515115-61dc9e18-17ac-4c3b-80cc-2faf58096518.jpg' },
              { src: 'img/292517382-937b3ae3-7614-4a89-aebb-781684a9c6a3.jpg' },
              { src: 'img/292534544-a0563e38-efed-4e30-9e71-c609e1ce9a2e.jpg' },
              { src: 'img/UC-8bea0291-9f04-43b6-82c3-45b0a2416063.jpg' },
              { src: 'img/UC-26aa22dd-a74c-4dfd-8fa9-7a0534c9c776.jpg' }

              // Add more diploma objects as needed
            ];
          
            let row = document.querySelector('.row');
          
            diplomas.forEach(diploma => {
              let col = document.createElement('div');
              col.className = 'col-sm-6 col-md-4 col-lg-3 mb-4';
          
              let img = document.createElement('img');
              img.src = diploma.src;
              img.className = 'img-fluid diploma-img';
              img.dataset.toggle = 'modal';
              img.dataset.target = '#diplomaModal';
              img.dataset.src = diploma.src;
          
              col.appendChild(img);
              row.appendChild(col);
            });
          
            $(document).ready(function() {
              $('.diploma-img').on('click', function() {
                var src = $(this).data('src');
                $('#diplomaModal img').attr('src', src);
              });
            });
          </script>
	</body>
</html>