<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Accessible Web Media</title>
		<meta name="description" content="Let us invigorate your website and keep clients coming back for more!" />
		<link rel="icon" href="./img/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Empower your business with cutting-edge, accessible, and responsive applications designed to thrive on any device! Unveil a portfolio of tailored solutions that elevate your digital presence without the need for an existing web footprint. Our expertise lies in crafting inclusive applications that resonate with your audience, ensuring seamless user experiences and broadening your reach. Explore our work to discover how we can transform your business with adaptable and user-friendly software solutions.">
		<!-- add bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" async>


        
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous" async></script>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" async rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body id="page-top">
		<div style="display: contents">
        
        
            <script>
             
                let currentYear = new Date().getFullYear();
              </script>
                 <!-- Navigation-->
                <!-- Masthead-->
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: rgba(0, 0, 0, 0.9);">
                  <div class="container">
                      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; color: #37fbe7;">Accessible Web Media</a>
                      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          Menu
                          <i class="fas fa-bars ml-1"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarResponsive"> -->
                          <!-- <ul class="navbar-nav text-uppercase ml-auto">
                
                            @guest
                              <li class="nav-item">
                                  <a class="nav-link" href="{{ route('login') }}">{{ __('Login') }}</a>
                              </li>
                              @if (Route::has('register'))
                                  <li class="nav-item">
                                      <a class="nav-link" href="{{ route('register') }}">{{ __('Register') }}</a>
                                  </li>
                              @endif
                          @else
                              <li class="nav-item dropdown">
                                  <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                      {{ Auth::user()->name }} <span class="caret"></span>
                                  </a>
            
                                  <div class="dropdown-menu dropdown-menu-right" style="background-color: #000000;" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{{ route('logout') }}"
                                         onclick="event.preventDefault();
                                                       document.getElementById('logout-form').submit();">
                                          {{ __('Logout') }}
                                      </a>
            
                                      <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                          @csrf
                                      </form>
                                  </div>
                              </li>
            
                              <li class="nav-item">
                                  <a class="nav-link" href="/home">Dashboard</a>
                              </li>
                              @if (Auth::user()->email=='Maecheenoi3@gmail.com')
                              <li class="nav-item">
                                  <a class="nav-link" href="/admin">Admin</a>
                              </li>
                              @endif
                             
                          @endguest
            
            
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                              <!--<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                          </ul> -->
                      <!-- </div> -->
                  </div>
              </nav>
              <header class="masthead">
              </header>
              <main class="py-4">
            <div class="text-center" style="padding-bottom: 50px;">
            <h1 class="font-italic font-weight-light px-3">We Make Your Website Accessible To Everyone</h1>
            </div>
            
            <section class="page-section pt-5 pb-5" id="services">
              <div class="container">
                  <div class="text-center pb-5">
                     
                      <h2 class="section-heading text-uppercase">Services</h2>
                      <h3 class="text-muted">We improve your established website or we design a new one from scratch. Your choice!</h3>
                  </div>
                  <div class="row text-center">
                      <div class="col-md-4 px-5 pb-5 text-center" style="text-align: center !important;">
                          <span class="fa-stack fa-4x text-center">
                              <i class="fas fa-circle fa-stack-2x text-dark text-center"></i>
                              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse text-center" style="color: #37fbe7"></i>
                          </span>
                          <h4 class="my-3">Customer Retention Optimization</h4>
                          <p class="text-muted text-left">If your website is not user friendly you will lose customers. We optimize customer retention by creating a beautiful, user friendly interface that keeps them coming back for more!</p>
                      </div>
                      <div class="col-md-4 px-5 pb-5">
                          <span class="fa-stack fa-4x">
                              <i class="fas fa-circle fa-stack-2x text-dark"></i>
                              <i class="fas fa-laptop fa-stack-1x fa-inverse" style="color: #37fbe7"></i>
                          </span>
                          <h4 class="my-3">Responsive and Accessible Website and App Design</h4>
                          <p class="text-muted text-left">With today's technologies, it is imperative that websites be accessible by a variety of devices and by a variety of users with different abilities. There is no need to have a different website for mobile devices or disabled users. We accomplish it all in one website.</p>
                      </div>
                      <div class="col-md-4 px-5 pb-5">
                          <span class="fa-stack fa-4x">
                              <i class="fas fa-circle fa-stack-2x text-dark"></i>
                              <i class="fas fa-lock fa-stack-1x fa-inverse" style="color: #37fbe7"></i>
                          </span>
                          <h4 class="my-3">Web Security<br />Optimization</h4>
                          <p class="text-muted text-left">Rest assured that your data and your customer's data is safe and secure from breaches. We improve previously overlooked vulnerabilities and update outdated packages. We can also back up your website in case of catastrophic loss.</p>
                      </div>
                  </div>
              </div>
            </section>
            <!-- Our Team Section -->
            <!-- Our Team Section -->
            <section id="our-team" class="py-5 pt-5">
            <div class="container">
            <h2 class="text-center pb-3">Our Team</h2>
            <div class="row d-flex justify-content-center">
              <!-- Team member card -->
              <div class="col-md-6 col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="./img/me.webp" alt="Alicia Taylor">
                      <div class="card-body">
                          <h3 class="card-title">Alicia Taylor</h3>
                          <p class="card-text">Lead Developer and Administrator</p>Certifications Include:<ul>
                              <li>HTML</li>
                              <li>CSS</li>
                              <li>JavaScript</li>
                              <li>PHP</li>
                              <li>MySQL</li>
                              <li>TypeScript</li>
                              <li>Angular</li>
                              <li>React</li>
                              <li>Ionic</li>
                              <li>Firebase</li> 
                          </ul>
                          <div class="text-center">
                              <a href="portfolio.html"><button" class="btn btn-primary">View Portfolio</button></a> 
                              
                          </div>              
                      </div>
                  </div>
              </div>
              <!-- More team member cards can be added here -->
            </div>
            </div>
            </section>
            <!-- Contact Us Section -->
            <section id="contact-us">
            <div class="text-center">
            <h2>Contact Us</h2>
            <p>For any inquiries, please email us at <a href="mailto:admin@accessiblewebmedia.com">admin@accessiblewebmedia.com</a></p>
            </div>
            </section>
              </main>
            
              <!-- Footer-->
              <footer class="footer py-4">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="text-center">Copyright © Accessible Web Media { currentYear }</div>
                    </div>
                </div>
            </footer>
        
        </div>
		<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous" async></script>
	</body>
</html>