<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Accessible Web Media</title>
		<meta name="description" content="Let us invigorate your website and keep clients coming back for more!" />
		<link rel="icon" href="./img/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Empower your business with cutting-edge, accessible, and responsive applications designed to thrive on any device! Unveil a portfolio of tailored solutions that elevate your digital presence without the need for an existing web footprint. Our expertise lies in crafting inclusive applications that resonate with your audience, ensuring seamless user experiences and broadening your reach. Explore our work to discover how we can transform your business with adaptable and user-friendly software solutions.">
		<!-- add bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" async>
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous" async></script>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" async rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body id="page-top">
		<div style="display: contents">       
            <script>             
                let currentYear = new Date().getFullYear();
              </script>
                 <!-- Navigation-->
                <!-- Masthead-->
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: rgba(0, 0, 0, 0.9);">
                  <div class="container">
                      <a class="navbar-brand js-scroll-trigger" href="index.html#page-top" style="font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; color: #37fbe7;">Accessible Web Media</a>
                      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          Menu
                          <i class="fas fa-bars ml-1"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarResponsive"> -->
                          <!-- <ul class="navbar-nav text-uppercase ml-auto">
                
                            @guest
                              <li class="nav-item">
                                  <a class="nav-link" href="{{ route('login') }}">{{ __('Login') }}</a>
                              </li>
                              @if (Route::has('register'))
                                  <li class="nav-item">
                                      <a class="nav-link" href="{{ route('register') }}">{{ __('Register') }}</a>
                                  </li>
                              @endif
                          @else
                              <li class="nav-item dropdown">
                                  <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                      {{ Auth::user()->name }} <span class="caret"></span>
                                  </a>
            
                                  <div class="dropdown-menu dropdown-menu-right" style="background-color: #000000;" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{{ route('logout') }}"
                                         onclick="event.preventDefault();
                                                       document.getElementById('logout-form').submit();">
                                          {{ __('Logout') }}
                                      </a>
            
                                      <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                          @csrf
                                      </form>
                                  </div>
                              </li>
            
                              <li class="nav-item">
                                  <a class="nav-link" href="/home">Dashboard</a>
                              </li>
                              @if (Auth::user()->email=='Maecheenoi3@gmail.com')
                              <li class="nav-item">
                                  <a class="nav-link" href="/admin">Admin</a>
                              </li>
                              @endif
                             
                          @endguest
            
            
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                              <!--<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                          </ul> -->
                      <!-- </div> -->
                  </div>
              </nav>
              <header class="masthead">
              </header>
              <main class="py-4">
                  <div class="container">
                    <header class="text-center">
                      <h1>Alicia Taylor</h1>
                      <p>Software Engineer</p>
                    </header>                  
                    <section id="about" class="my-5">
                      <h2>About Me</h2>
                      <p>I took online classes to learn full stack web development and information architecture. I currently hold several certifications, and am on path for my Bachelor's degree in Computer Science with IT Institute. The projects on this portfolio include my class projects, as well as personal projects.</p>
                      <p>Feel free to click the cards to explore my skills.</p>
                      <p>Or see: <a class="js-scroll-trigger" href="#education">My Education</a> to see my schools and certifications.</p>
                    </section>
                    <section id="portfolio" class="my-5">
                        <h2 class="text-center w-100">Portfolio</h2>
                            <div id="projectsCards" class="row"></div>

                            <script>
                            let projectsCards = [
                              {title: 'Password Generator', description: 'Simple app that generates a random password according to length and whether you want to you letters, numbers, or symbols. This is an example of form validation using Angular 17 and Bulma UI.', link: 'https://password-generator-update.vercel.app/', screenshot: './img/password.jpg'},
                              {title: 'Typing Challenge', description: 'Simple app that provides a typing challenge, and will not accept your answer until it has no mistakes. Mistakes are highlighted in red in real time. This is an example of form validation and events using Angular 17 and Bulma UI.', link: 'https://typing-game-jet-three.vercel.app/', screenshot: './img/typing.jpg'},
                              {title: 'Hextrix HD', description: 'Arcade game for Web and Play Store, Tetris-inspired with a twist. Features dark mode, dynamic background music toggle using JavaScript. Developed as a Progressive Web App, hosted on Firebase, and published on the Play Store via Android Studio.', link: 'https://hextris-hd-dark-mode-edition.web.app/', screenshot: './img/hex.jpg'},
                              {title: 'Find The Frog', description: 'A little demo that demonstrates moving text, layered animation, and embedded audio triggered by mouse or gesture events.', link: 'https://aliciaamt.github.io/moving-text/', screenshot: './img/frogstart.jpg'},
                              {title: 'Kahal Echad', description: 'A Hebrew Roots and Messianic Fellowship and Bible Study App. Demonstrates a secure login system with Google Authentication, Bible Gateway API, Ionic, and more.', link: 'https://the-way-417.web.app', screenshot: './img/kahal.jpg'},
                              {title: 'Wat Amphawan of America', description: 'A little website I made for Wat Amphawan as a thank you for their charity work.', link: 'https://wat-amphawan.web.app/', screenshot: './img/wat.jpg'},
                              // Add more projects as needed
                            ];
                            
                            let projectsDiv = document.getElementById('projectsCards');
                            
                            projectsCards.forEach(projectsCard => {
                              let projectLink = document.createElement('a');
                              projectLink.href = projectsCard.link;
                              projectLink.className = 'text-decoration-none col-md-4';
                            
                              let cardDiv = document.createElement('div');
                              cardDiv.className = 'card mb-4 pt-0 mt-0';
                            
                              let img = document.createElement('img');
                              img.src = projectsCard.screenshot;
                              img.className = 'card-img-top pt-0 mt-0';
                              img.alt = projectsCard.title;
                            
                              let cardBodyDiv = document.createElement('div');
                              cardBodyDiv.className = 'card-body';
                            
                              let h3 = document.createElement('h3');
                              h3.className = 'card-title';
                              h3.textContent = projectsCard.title;
                            
                              let p = document.createElement('p');
                              p.className = 'card-text';
                              p.textContent = projectsCard.description;
                            
                              cardBodyDiv.appendChild(h3);
                              cardBodyDiv.appendChild(p);
                            
                              cardDiv.appendChild(img);
                              cardDiv.appendChild(cardBodyDiv);
                            
                              projectLink.appendChild(cardDiv);
                            
                              projectsDiv.appendChild(projectLink);
                            });
                            </script>
                      </section>
                  <section id="education" class="my-5">
  <h2>Education</h2>
  <ul id="schoolsList">
    
  </ul>
  <div class="text-center">
    <a href="diplomas.html"><button" class="btn btn-primary">View Diplomas</button></a>    
</div>
  <script>
    let schools = [
      {name: 'Riverdale High School', course: 'Honors Diploma', year: '1998'},
      {name: 'Middle Tennessee State University', course: 'Spanish & Secondary Education', year: '1998-2000'},
      {name: 'WebMD University', course: 'Management & Insurance Software, Mainframes', year: '2001-2003'},
      {name: 'Middle Tennessee State University', course: 'Classical Guitar Performance & Music Composition', year: '2003-2004'},
      {name: 'w3schools', course: 'HTML, CSS, JavaScript', year: '2005-2006'},
      {name: 'Udemy', course: 'Git and GitHub, Narrative Design, Progressive Web Apps, Ionic, Firebase, Artificial Intelligence, React, Angular, Technical Writing, Android Play Store', year: '2019-current'},
      {name: 'Harvard University', course: 'Computer Science, Rhetoric, Python', year: '2024-current'},
      {name: 'Stanford University', course: 'Algorithms', year: '2024-current'},
      {name: 'IBM', course: 'Git & GitHub, Project Management', year: '2024-current'},
      {name: 'Linux Foundation', course: 'Development Operations and Reliability', year: '2024-current'}, 
      {name: 'freeCodeCamp.org', course: 'Responsive Web Development', year: '2024-current'},
      {name: 'Ionic Academy', course: 'Advanced Ionic', year: '2022-current'},
      {name: 'Fireship', course: 'Angular Fire, Svelte', year: '2021-current'},
      {name: 'W3C', course: 'Web Accessibility & WAI', year: '2023-current'},
      {name: 'IT Institute', course: 'Computer Science', year: '2023-current'}
      // Add more schools as needed
    ];

    let schoolsList = document.getElementById('schoolsList');

    schools.forEach(school => {
      let li = document.createElement('li');
      li.innerHTML = `<strong>${school.name}</strong> - ${school.course} (${school.year})`;
      schoolsList.appendChild(li);
    });
  </script>
</section>
                    
                    <section id="contact" class="my-5">
                      <h2>Contact Me</h2>
                      <p>Email: <a href="mailto:admin@accessiblewebmedia.com">admin@AccessibleWebMedia.com</a></p>
                    </section>
                  </div>
                  <style>
                    .container {
                      width: 80%;
                      margin: auto;
                    }
                  
                    header, section {
                      margin-bottom: 2em;
                    }
                    
                    .card {
                        padding-top: 0;
                        margin-top: 0;
                        }
                                        
                  .card-img-top {
                    height: 20rem; /* Adjust as needed */
                    object-fit: contain;
                    margin-top: 0;
                  }
                
                
                  </style>
              </main>            
              <!-- Footer-->
              <footer class="footer py-4">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div id="year" class="text-center">Copyright © Accessible Web Media </div>
                    </div>
                </div>
            </footer>        
        </div>
		<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous" async></script>
        <script>
            document.getElementById('year').textContent += new Date().getFullYear();
          </script>
	</body>
</html>